.is-taskform-visible{
    transform: translateY(0);
    @media (max-width: $mq-4) { 
        transform: translateY(100%); 
        transition: transform $transition;
    }
}
.is-days-visible{
    transform: translateX(0);
    @media (max-width: $mq-4) { 
        transform: translateX(-100%); 
        transition: transform $transition;
    }
}