@import '01-settings/_variables';
@import '02-base/_reset';
@import '02-base/_tags';
@import '03-sections/_planner';
@import '03-sections/_days';
@import '03-sections/_tasks';
@import '04-components/_header';
@import '04-components/_day';
@import '04-components/_task';
@import '04-components/_form';
@import '05-state/_state';


/*
:root {
  --gap-v: 30px;
  --gap-h: 30px;
  --grid-gap: 30px;
  --blur: 50px;
}
@media (max-width: 1250px) {
  :root {
    --gap-v: 30px;
    --gap-h: 30px;
    --grid-gap: 25px;
  }
}
@media (max-width: 1000px) {
  :root {
    --gap-v: 20px;
    --gap-h: 20px;
    --grid-gap: 20px;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background-color: #c3e4ea;
}

::-webkit-scrollbar-thumb {
  background-color: #77c1d0;
}

#root,
body {
  width: 100%;
  font-size: 16px;
  font-family: "Didact Gothic", sans-serif;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  color: #47405c;
  background-color: #c7c8ee;
}

#root {
  min-height: 500px;
  height: 100vh;
  max-height: 100vh;
  padding: var(--gap-v) var(--gap-h);
}
@media (max-width: 900px) {
  #root {
    padding: 0;
  }
}

button,
input {
  appearance: none;
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  font-family: "Didact Gothic", sans-serif;
}

.svg-icon {
  width: 12px;
  height: 12px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #f3f4fb;
}

.svg-icon circle {
  stroke: #f3f4fb;
  stroke-width: 1;
}

.planner {
  width: 100%;
  max-width: 1260px;
  height: 100%;
  margin: 0 auto;
  padding: var(--gap-v) var(--gap-h);
  display: grid;
  grid-template-areas: "header header" "days tasks" "days task-form";
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: var(--grid-gap);
  background-color: #f3f4fb;
}
@media (max-width: 800px) {
  .planner {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 0;
    grid-template-areas: "header" "tasks";
    padding: 0;
    overflow: hidden;
  }
}

.days {
  grid-area: days;
  position: relative;
  background-color: #f3f4fb;
}
@media (max-width: 800px) {
  .days {
    position: fixed;
    top: 0;
    left: 100%;
    height: 100%;
    min-width: 200px;
    z-index: 10;
    border-left: 1px solid #77c1d0;
  }
}
.days__list {
  height: 100%;
  overflow-y: auto;
}
.days__trigger {
  display: none;
}
@media (max-width: 800px) {
  .days__trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 100%;
    width: 40px;
    height: 40px;
    transform: translateY(50%);
    font-size: 20px;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    color: #f3f4fb;
    background-color: #77c1d0;
    z-index: 10;
    cursor: pointer;
  }
}

.tasks {
  grid-area: tasks;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  transition: transform 250ms ease;
}
.tasks__list {
  margin-top: calc(var(--blur) * -1);
  padding-top: calc(var(--grid-gap) / 2);
  padding-bottom: var(--blur);
}
.tasks__blur {
  position: sticky;
  top: calc(100% - var(--blur));
  width: 100%;
  height: var(--blur);
  background-image: linear-gradient(to bottom, transparent, #f0eff1);
  backdrop-filter: blur(1px);
}

.header {
  grid-area: header;
}
@media (max-width: 800px) {
  .header {
    padding: var(--gap-v) var(--gap-h);
  }
}
.header__title {
  font-size: 1.625rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #47405c;
}
.header__title span {
  color: #77c1d0;
  font-weight: 600;
}

.day {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-height: calc(100% / 7);
  color: #47405c;
  cursor: pointer;
  transition: background-color 250ms ease, padding 250ms ease;
}
@media (max-width: 800px) {
  .day {
    padding: var(--gap-v) var(--gap-h);
  }
}
.day--active, .day:hover {
  color: #f3f4fb;
}
.day--active .day__title, .day:hover .day__title {
  background-color: #77c1d0;
  padding: 8px 16px;
  transition: background-color 250ms ease, padding 250ms ease;
}
.day__title {
  padding: 8px 0;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.day__tasks {
  position: relative;
  margin-right: calc(var(--gap-v) / 2);
  font-size: 0.875rem;
  font-weight: 600;
  color: #aeacb5;
}

.task {
  display: grid;
  justify-items: start;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-gap: var(--grid-gap);
  padding: calc(var(--gap-v) / 2.5) var(--gap-h);
  border-left: 2px solid transparent;
  transition: 250ms ease;
}
.task:hover {
  border-left: 2px solid #77c1d0;
  transition: 250ms ease;
}
.task__schedule {
  padding: 8px;
  text-align: center;
  font-size: 0.75rem;
  letter-spacing: 0.5px;
  color: #f3f4fb;
  background-color: #77c1d0;
}
.task__title {
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.6;
  letter-spacing: 0.5px;
  color: #47405c;
  cursor: pointer;
}
.task__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #47405c;
  color: #77c1d0;
  cursor: pointer;
  transition: 250ms ease;
}
.task__submit:hover {
  background-color: #3b364d;
  transition: 250ms ease;
}

.task-form {
  grid-area: task-form;
  display: grid;
  justify-items: start;
  align-items: center;
  grid-template-columns: 1fr 2fr auto;
  grid-template-rows: 1fr;
  grid-template-areas: "task-schedule task-title task-submit";
  grid-gap: calc(var(--grid-gap) / 1.5);
  position: relative;
  padding: var(--gap-v) var(--gap-h);
  background-color: #f3f4fb;
  transition: transform 250ms ease;
}
@media (max-width: 800px) {
  .task-form {
    grid-template-columns: 1fr;
    grid-template-areas: "task-schedule " "task-title" "task-submit";
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
    border-top: 1px solid #77c1d0;
  }
}
.task-form__trigger {
  display: none;
}
@media (max-width: 800px) {
  .task-form__trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translateY(-100%) translateX(-50%);
    font-size: 20px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    color: #f3f4fb;
    background-color: #77c1d0;
    z-index: 10;
    cursor: pointer;
  }
}
.task-form__schedule {
  grid-area: task-schedule;
  display: flex;
  width: 100%;
}
@media (max-width: 900px) {
  .task-form__schedule {
    grid-template-columns: auto;
  }
}
.task-form__schedule-label {
  align-self: center;
  margin-right: calc(var(--grid-gap) / 1.5);
  font-size: 0.75rem;
  letter-spacing: 0.25px;
  text-transform: capitalize;
}
.task-form__schedule-hour {
  width: 100%;
  height: 40px;
  padding: 0 12px;
  flex-grow: 1;
  color: #47405c;
  background-color: #e3e2e5;
  caret-color: #77c1d0;
}
.task-form__title {
  grid-area: task-title;
  width: 100%;
  height: 40px;
  padding: 0 12px;
  color: #47405c;
  background-color: #e3e2e5;
  caret-color: #77c1d0;
}
.task-form__submit {
  grid-area: task-submit;
  width: 100%;
  min-width: 120px;
  height: 40px;
  padding: 0 var(--gap-h);
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;
  background-color: #e9717c;
  color: #f3f4fb;
}
.task-form__submit:hover {
  background-color: #e65b68;
}

.is-taskform-visible {
  transform: translateY(0);
}
@media (max-width: 800px) {
  .is-taskform-visible {
    transform: translateY(100%);
    transition: transform 250ms ease;
  }
}

.is-days-visible {
  transform: translateX(0);
}
@media (max-width: 800px) {
  .is-days-visible {
    transform: translateX(-100%);
    transition: transform 250ms ease;
  }
}
*/


